body{
  background-color: aqua;
}


#player-wrapper {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 300px;
  border-style: solid;
  border-color: red;
}
#play-btn {
  /* position: absolute; */
  background-image: url('images/play.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 2rem 0 2rem 3rem;
}

#pause-btn {
  background-image: url('images/pause.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 2rem 0 2rem 2rem;
  
}
/* #myCheck {
  /* position: absolute; */
  /* background-image: url('images/mute.jpg'); */
  
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 2rem 0rem 2rem 0rem;
} */

div #songTitle {
 
  text-align: center;
}

div #image {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 150px;
  height: 150px;
  

}

#playlist {
  display: inline-block;
  width: 300px;
  height: 200px;
  border-style: solid;
  border-color: black;
}
label {
  width: 50px;
  height: 50px;

}