.container {
  display: flex;
}

.leftSide {
  background-color: grey;  
  width: 300px;
  height: 535px;
}

.images {
  width: 300px;
  height: 230px;
  background-image: url('images/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#image {
  width: 300px;
  height: 260px;
}

.songsInfos {
  width: 300px;
  height: 250px;
}

.player {
  position: relative;
  background-color: black;  
  width: 294px;
  height: 35px;
  border-style: solid;
}

#play-btn {
  position: absolute;
  background-image: url('images/buttons/play.jpg');
  background-size: cover;
  width: 30px;
  height: 30px;
  display: inline-block;
  z-index: 2;
 }

#pause-btn {
  position: absolute;
  background-image: url('images/buttons/pause.jpg');
  background-size: cover;
  width: 30px;
  height: 30px;
  display: inline-block;
  z-index: 1;
 }

 #mute-btn {
  position: absolute;
  left:35px;
  background-image: url('images/buttons/mute.jpg');
  background-size: cover;
  width: 30px;
  height: 30px;
  display: inline-block;
  z-index: 2;
}

#unmute-btn {
   position: absolute;
   left:35px;
   background-image: url('images/buttons/unmute.jpg');
   background-size: cover;
   width: 30px;
   height: 30px;
   z-index: 1;
} 

 /******************************** Favorite ************************************/
 
 #favorite-empty-heart {
  position: absolute;
  left: 265px;
  background-image: url('images/buttons/emptyHeart.jpg');
  background-size: cover;
  width: 30px;
  height: 30px;
  z-index: 2;
}

#favorite-full-heart {
 position: absolute;
 left: 265px;
 background-image: url('images/buttons/fullHeart.jpg');
 background-size: cover;
 width: 30px;
 height: 30px;
 z-index: 1;
}


.favorites-list {
  background-color: cornsilk;  
  width: 300px;
  height: 535px;
}

.favorites-list > p {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  ul {
    list-style-type: none;
  }


  .hoverable:hover {
      background-color: yellow;
  }

  #audio {
    display: none;
  }

